<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mstr.letschat"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name="LetsChatApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
		
		<activity
			android:name=".StartupActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		
		<activity android:name=".SignupActivity" />
		
		<activity android:name=".LoginActivity" />
		
		<activity android:name=".ChatActivity" />
		
		<activity android:name=".MainActivity" />
		
		<activity android:name=".AccountSetupActivity" />
		
		<activity
		    android:name=".ChatHistoryActivity"
		    android:label="@string/chats" />
		<activity
		    android:name=".SearchUserActivity"
		    android:label="@string/search_contact" />
		<activity
		    android:name=".ContactListActivity"
		    android:label="@string/select_contact" />
		<activity
		    android:name=".UserSearchResultActivity"
		    android:label="@string/search_contact_result" />
		
		<receiver android:name=".receivers.BootReceiver">
		    <intent-filter>
		        <action android:name="android.intent.action.BOOT_COMPLETED" />
		    </intent-filter>
		</receiver>
		
		<service android:name=".service.MessageService" android:exported="false"/>
    </application>
</manifest>
