<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mstr.letschat"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.LightBackground" >
		
		<activity android:name=".StartupActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		
		<activity android:name=".SignupActivity" />
		
		<activity android:name=".LoginActivity" />
		
		<activity android:name=".ChatActivity" android:windowSoftInputMode="stateHidden|adjustResize" android:theme="@style/AppTheme"
		    android:parentActivityName=".ConversationActivity">
		    <meta-data
		        android:name="android.support.PARENT_ACTIVITY"
		        android:value=".ConversationActivity" />
		</activity>
		
		<activity android:name=".ConversationActivity" android:label="@string/chats" />
		
		<activity android:name=".SearchUserActivity" android:label="@string/search_contact" />
		
		<activity android:name=".SetStatusActivity" android:label="@string/status" android:theme="@style/AppTheme" />
		
		<activity android:name=".ContactListActivity" android:label="@string/select_contact" android:parentActivityName=".ConversationActivity">
		    <meta-data
		        android:name="android.support.PARENT_ACTIVITY"
		        android:value=".ConversationActivity" />
		</activity>
		
		<activity android:name=".ContactRequestListActivity" android:label="@string/new_contacts" android:parentActivityName=".ContactListActivity">
		    <meta-data
		        android:name="android.support.PARENT_ACTIVITY"
		        android:value=".ContactListActivity" />
		</activity>
		
		<activity android:name="de.duenndns.ssl.MemorizingActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar" />
		
		<activity android:name="com.android.camera.CropImage" />
		
		<activity android:name=".UserProfileActivity" android:label="@string/contact_profile" android:theme="@style/AppTheme" />
		
		<activity android:name=".SettingsActivity" android:label="@string/settings" />

		<activity android:name=".ServerSettingsActivity" android:label="@string/server" />
		
		<receiver android:name=".receivers.BootReceiver">
		    <intent-filter>
		        <action android:name="android.intent.action.BOOT_COMPLETED" />
		    </intent-filter>
		</receiver>
		
		<receiver android:name=".receivers.IncomingContactRequestReceiver" android:exported="false">
		    <intent-filter>
		        <action android:name="com.mstr.letschat.intent.action.CONTACT_REQUEST_RECEIVED" />
		    </intent-filter>
		</receiver>
		
		<receiver android:name=".receivers.NetworkReceiver" android:exported="false">
			<intent-filter>
			    <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
			</intent-filter>
		</receiver>
		
		<service android:name=".service.MessageService" android:exported="false" />
		
		<provider android:name=".providers.CustomProvider" android:authorities="com.mstr.letschat.provider" android:exported="false" />
    </application>
</manifest>
